1.What are data Structures,and why are they important                                                                            
Ans.Data structures are ways of organizing and storing data so that they can be used efficiently. They help in managing and processing data effectively in programs. why they are important:Efficient Data Management They help in storing and accessing data efficiently. Code Optimization Well-structured data makes code cleaner and more maintainable.

2.Explain the difference between mutable and immutable data types with examples                                  
Ans.Mutable:Can be changed after creation,Values can be modified,example:list, dict, set,Uses the same memory location when modified
immutable:Cannot be changed after creation,example:str, tuple,Creates a new memory location when modified

3.what are the main difference between lists and tuples in pyhon                                      
 Ans.list:Ordered, mutable collection,Can be modified (add, remove, change elements),Created using [] (square brackets),Slower (because it allows modifications)                             Tuples:Ordered, immutable collection,Cannot be modified after creation,Created using () (parentheses),Faster (because it is fixed)

4.Describe How dictionaries Store data  
Ans.A dictionary (dict) in Python stores data as key-value pairs using a hashing mechanism for fast access.Keys are unique and act as an index to access values.
Values can be any data type (numbers, strings, lists, etc.).

5.why might you use a set instead of a list in python
                                       
Ans: set is an unordered collection of unique elements, while a list allows duplicates. You might use a set instead of a list,Sets automatically remove duplicates, whereas lists keep them.

6.What is a string in python and how is it differnt from a list                                        
 Ans.A string (str) in Python is a sequence of characters,It is immutable, meaning it cannot be changed after creation.list:Sequence of elements (any type)Mutable (Can modify elements)

7.How do tuples ensure data integrity in python                                      
Ans.Tuples ensure data integrity because they are immutable, meaning once created, they cannot be changed. This prevents accidental modifications and maintains consistency in data.Tuples ensure data integrity by preventing modifications, making them ideal for constant data storage, dictionary keys, and performance optimization.

8.What is a hash table and how does it relate to dictionaries in python

Ans.A hash table is a data structure that stores key-value pairs and allows fast retrieval using a hash function. It maps keys to unique hash values, which determine where data is stored in memory.

9.can list contain differnt data types in python

Ans.Yes A list in Python can store different data types (integers, strings, floats, booleans, lists, dictionaries, etc.).

10.Explain why strings are immutable in python                                    

Ans.Memory Efficiency (String Interning)

Python optimizes memory usage by reusing immutable string objects, reducing redundancy.Security & Integrity

Since strings are widely used in passwords, configurations, and identifiers, immutability prevents accidental modifications and security vulnerabilities

11.What advantages do dictionaries offer over lists for certain tasks

Ans.Key-Value Pair Storage
Dictionaries store data in key-value pairs, making data more structured and easier to access.
Lists store elements in an indexed manner, requiring position-based access.
No Need for Indexing
In lists, accessing elements requires knowing the index.
In dictionaries, elements are accessed using meaningful keys, improving readability.

12.Describe a scenario where using a tuple would be preferable over a list

Ans.A tuple is preferable when you want to store data that should remain constant throughout the program.

13..How do sets handle duplicate values in python                                 

Ans..How do sets handle duplicate values in python  Sets Automatically Remove Duplicates When you add duplicate values to a set, Python keeps only unique elements and removes duplicates automatically.Sets prevent duplicates automatically by using a hash table, making them ideal for storing unique values and removing duplicates from a list.

14.How does the "in"keyword work differntly for list and dictionaies                 

Ans.In Dictionaries Checks for Keys
The in keyword checks for the presence of a key, not a value.
n List Checks for Values
The in keyword searches for a value in a list.

15.can you modify the elements of a tuple?exaplin why or why not       
ans:Once created, their elements cannot be changed, added, or removed.Data Integrity – Prevents accidental modifications to critical data (e.g., database configurations).
Hashability – Since tuples don’t change, they can be used as dictionary keys and set elements.

16.What is a nested dictionary and give an example of its use code.  
Ans.A nested dictionary is a dictionary that contains another dictionary as a value. It is useful for storing structured data, like student records, employee details, or JSON data.

17.Describe the time complexity of accessinh elements in a dictionary  
ans.Accessing an element in a dictionary is very fast because it takes roughly the same amount of time no matter how many items are in it. This is often called "constant time" access.

18.in what situations are lists preferred over dictionaries          
Ans.Maintaining Order – Lists keep elements in the order they were added, while dictionaries (before Python 3.7) did not.2. Sequential Data – When storing simple, ordered collections like a list of numbers, names, or tasks.3. Iteration Simplicity – Lists are easier to loop through when you don’t need key-value pairs.

19.Why are dictinaries considered unordered and how does that affect data retrival   
Ans.Before Python 3.7, dictionaries did not maintain the order of items as they were added because they used a hash table for fast lookups.From Python 3.7 onwards, dictionaries preserve insertion order, but they are still optimized for fast access, not sequential storage like lists.

20.Explain the difference between a list and dictionary in terms of data retrival   
Ans.Retrieval Method List: Access elements by index (position).
Dictionary: Access elements by key (name/identifier).Retrieval Speed
List: Slower for searching (O(n)) because it scans elements one by one.
Dictionary: Faster (O(1)) because it uses a hash table for direct key lookup.

Practical Questions:

1.Write a code to create a string with your name

In [ ]:
my_name="Devyani Deore"
my_name

'Devyani Deore'

2.Write a Code to find the length of the string"Hello World"

In [ ]:
name="Hello World"
len(name)

11

3.write a code to slice the first 3 character from the string "python programming"

In [ ]:
name="Python Programming"
name[:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase

In [ ]:
name="hello"
name.upper()

'HELLO'

5.write a code to replace the word "apple with "orange" in the string "i like apple"

In [ ]:
name="i like apple"
name.replace("apple","orange")

'i like orange'

6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

7.Write  a code to append the number 10 to the list [1,2,3,4,5]

In [18]:
list1=[1,2,3,4,5]
list1.append(10)
list1

[1, 2, 3, 4, 5, 10]

8.write a code to remove the number 3 from list [1,2,3,4,5]

In [19]:
list1=[1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]

9.Write a code to acess the second elements in tha list['a','b','c','d']

In [20]:
list1=['a','b','c','d',]
list1[1]

'b'

10.write a code to reverse the list [10,20,30,40,50]

In [21]:
list1=[10,20,30,40,50]
list1.reverse()
list1

[50, 40, 30, 20, 10]

11.Write a code to create tuple with elements 100,200,300,and print it

In [22]:
t=(100,200,300)
t

(100, 200, 300)

12.Write a code to access the second to last elemnts of tuple ('red','green','blue','yellow')

In [25]:
t1=("red","green","blue","yellow")
t1[1:4]

('green', 'blue', 'yellow')

13.Write a code to find the minimum number in the tuple(10,20,5,15)

In [30]:
t2=(10,20,5,15)
min(t2)

5

14.Write a code to find the index element "cat" in the tuple('dog','cat','rabbit')

In [31]:
t3=("dog","cat","rabbit")
t3.index("cat")

1

15.Write a code to create a tuple containig three differnt fruits and check if "kiwi"is in it

In [34]:
fruits=("apple","banana","kiwi")
"kiwi" in fruits

True

16.write a code to create a set with the elements['a','b','c]

In [37]:
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

17.Write a code to clear all elements from the set{1,2,3,4,5}

In [39]:
set2={1,2,3,4,5}
set2.clear()
set2

set()

18.Write a code to remove the elements 4 from set {1,2,3,4,}

In [45]:
set3={1,2,3,4}
set3.remove(4)
set3

{1, 2, 3}

19.Write a code to find the union of two sets{1,2,3} and {3,4,5}

In [48]:
set1={1,2,3}
set2={3,4,5}
set1|set2

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets{1,2,3} and {2,3,4}

In [50]:
set1={1,2,3}
set2={2,3,4}
set1&set2

{2, 3}

21.write a code to create a dictinary with keys "name","age",city and print

In [51]:
dict1={"name":"Devyani","age":20,"city":"Dhule"}
dict1

{'name': 'Devyani', 'age': 20, 'city': 'Dhule'}

22.Write a code to add a new key-value pair"country":"USA"to the dictionary{'name:'john','age':25}

In [57]:
dict1["country"] = "USA"
dict1

{'name': 'Devyani', 'age': 20, 'city': 'Dhule', 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary 'name:' in the dictionary{'name':'Alice','age'}

In [1]:
dict2={"name":"Alice","age":30}
dict2["name"]

'Alice'

24.Write a code to remove the key "age" from the dictionary{'name':'bob','age':22,'city':'new york'

In [6]:
dict3={"name":"bob","age":22,"city":"new york"}
dict3.pop("age")
dict3

{'name': 'bob', 'city': 'new york'}

25.Write a code to check if the key 'city' exists in the dictionary {'name':'alice','city':'paris'}

In [7]:
dict4={'name':'alice','city':'paris'}
"city" in dict4

True

26.Write a code to create a list,a tuple,and a dictionary and print them all

In [8]:
list1=["Devyani","Deore",26]
list1
tuple1=(1,2,3,4)
tuple1
dict1={"name":"Devyani","age":26}
dict1

{'name': 'Devyani', 'age': 26}

27.Write a code to create a list of 5 random numbers between 1 and 100,sort it in ascending order and print the result(replaced)

In [10]:
list1=[1,50,34,70,45]
sorted(list1)

[1, 34, 45, 50, 70]

28.Write a code to create a list with strings and print the elements at the third index

In [12]:
my_list=["apple","banana","orange","chiku"]
my_list[3]

'chiku'

29.write a code to combine two dictionaries into one and print the result

In [24]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = dict1.copy()
combined_dict.update(dict2)
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.Write a code to convert a list of strings into a set

In [26]:
my_list = ["banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}